<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := where (partial "gallery-items.html" .) "Hidden" "ne" true }}
    {{ $publishResources := default true .Params.build.publishResources }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $href := .FullURL }}
      {{ if and (eq .SourceType "page") $publishResources }}
        {{ $href = .OriginalURL }}
      {{ end }}
      <a class="gallery-item" href="{{ $href }}" data-pswp-src="{{ .FullURL }}" data-pswp-width="{{ .Width }}" data-pswp-height="{{ .Height }}" data-pswp-target="{{ .Name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ .ThumbnailWidth }} / {{ .ThumbnailHeight }}">
        <figure style="background-color: {{ .Color }}; aspect-ratio: {{ .ThumbnailWidth }} / {{ .ThumbnailHeight }}">
          <img class="lazyload" width="{{ .ThumbnailWidth }}" height="{{ .ThumbnailHeight }}" data-src="{{ .ThumbnailURL }}" alt="{{ .Title }}" />
        </figure>
        <meta itemprop="contentUrl" content="{{ $href }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>
</section>
