{{ $featured := "" }}
{{ $items := .items }}
{{ $visibleItems := where $items "Hidden" "ne" true }}
{{ $covers := where $items "Cover" "eq" true }}

{{ if gt (len $covers) 0 }}
  {{ $featured = index $covers 0 }}
{{ end }}

{{ if and (not $featured) .page.Params.featured_image }}
  {{ range $item := $items }}
    {{ if eq $item.Name $.page.Params.featured_image }}
      {{ $featured = $item }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $featured }}
  {{ range $item := $items }}
    {{ if and (not $featured) (in $item.Name "feature") }}
      {{ $featured = $item }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if and (not $featured) (gt (len $visibleItems) 0) }}
  {{ $featured = index $visibleItems 0 }}
{{ end }}

{{ if and (not $featured) (gt (len $items) 0) }}
  {{ $featured = index $items 0 }}
{{ end }}

{{ return $featured }}
