{{ $items := slice }}
{{ $pageResources := .Resources.ByType "image" }}

{{ if gt (len $pageResources) 0 }}
  {{ range $image := $pageResources }}
    {{ $title := "" }}
    {{ $date := "" }}
    {{ with $image.Exif }}
      {{ $date = .Date }}
      {{ with .Tags.ImageDescription }}
        {{ $title = . }}
      {{ end }}
    {{ end }}
    {{ if ne $image.Title $image.Name }}
      {{ $title = $image.Title }}
    {{ end }}
    {{ if $image.Params.Date }}
      {{ $date = time $image.Params.Date }}
    {{ end }}
    {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
    {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
    {{ $items = $items | append (dict
      "Name" $image.Name
      "Title" $title
      "Date" $date
      "Params" $image.Params
      "Hidden" (eq $image.Params.hidden true)
      "Cover" (eq $image.Params.cover true)
      "OriginalURL" $image.RelPermalink
      "ThumbnailURL" $thumbnail.RelPermalink
      "ThumbnailWidth" $thumbnail.Width
      "ThumbnailHeight" $thumbnail.Height
      "FullURL" $full.RelPermalink
      "Width" $full.Width
      "Height" $full.Height
      "Color" $color
      "SourceType" "page"
    ) }}
  {{ end }}
{{ else }}
  {{ $items = partial "pp-gallery-items-external.html" . }}
{{ end }}

{{ return $items }}
