{{ $gallery := "" }}
{{ $items := partial "gallery-items.html" . }}
{{ $images := where $items "Hidden" "ne" true }}
{{ if gt (len $images) 0 }}
  {{ $featured := partial "gallery-featured-item.html" (dict "page" . "items" $items) }}
  {{ $thumbnail := dict
    "RelPermalink" $featured.ThumbnailURL
    "Width" $featured.ThumbnailWidth
    "Height" $featured.ThumbnailHeight
  }}
  {{ $color := $featured.Color | default "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (where (partial "gallery-items.html" .) "Hidden" "ne" true)) }}
    {{ end }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
